# .gitignore for a Visual Studio project.

# Build output.
bin/
obj/

# Installed NuGet packages.
packages/

# Unity3D.DLLs NuGet package.
Unity3D.DLLs.*.nupkg

# Visual Studio preferences and tool data.
*.suo
*.user
*.userprefs
*.usertasks
*.cache
*.Cache

# Addin / extension data.
_ReSharper.*
*.wwdb
