<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <packageSources>
    <!-- Point to built packages for debugging and testing. -->
    <add key="Local Debugging and Testing" value="..\" />
  </packageSources>
</configuration>
